  body {
    font-family: 'Manrope', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
  
 } 
 .header{
    background: #FFF8F3;
    background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
 }
 
 nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:  0 100px;
 }
 .nav-title{
    color:  #181818;
    font-size: 45px;

    font-weight: 800;

 }
 .primary-clr{
    color: #FD6E0A;
 }
 nav > ul{
    display: flex;
    align-items: center;
   

 }
 nav li {
    margin-right: 50px;
    list-style: none;
    color:  #474747;
 }
 .btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    font-size: 20px;
    color: white;
font-weight: 700;
border: 0px;
padding: 15px 35px;


 }
 .banner{
     padding: 30px 30px 30px 100px ;
 }
 .banner-contain{
    display: flex;
    align-items: center;
 }
 .banner-img{
    width: 500px;
height: 600px;

 }